body{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;

    font-size: 20px;
    line-height: 28px;
    color: #000000;

    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1100px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.logo{

}

.social{
    margin-top: 30px;

    display: flex;
    justify-content: space-between;
}

h1{
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;

    color: #FFFFFF;
}

p{
    font-weight: normal;
    font-size: 20px;

    color: #FFFFFF;
    opacity: 0.6;

    margin-bottom: 40px;
}

.margin-bot-10{
    margin-bottom: 10px;
}

h2{
    font-weight: bold;
    font-size: 50px;
    line-height: 65px;
}

h2::before{
    content: '';
    display: block;

    width: 169px;
    height: 4px;

    margin-bottom: 17px;

    border-radius: 2px;
    background: linear-gradient(90deg, #FFAC12 0%, #000000 94.96%);
}

h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
}

.text-color__black{
    color: #000;
}

.border-rigth{
    border-radius: 0px 57px 0px 0px;
}

.border-left{
    border-radius: 57px 0px 0px 0px;
}

  /* ==================== CLOSE MORE ==================== */

@media (max-width: 1440px) {
    .container{
        width: 100%;
        max-width: 900px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 768px) {
    /* h1{
        font-size: 60px;
        line-height: 60px;
    } */

    /* p{
        font-size: 16px;
    } */

    h2{
        font-size: 24px;
        line-height: inherit;
    }

    h3{
        font-size: 16px;
        line-height: inherit;
    }
}